* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --black: black;
  --ocean: #404bbf;
  --white: white;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --navybluemodal: #2e2f42;
  --grey: grey;
  --dairy: #fcfcfc;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* General Styles */

/* remove bullet points in lists */

li {
  list-style: none;
}

/* remove underline in links */
a {
  text-decoration: none;
}

.address-item {
  font-style: normal;
}

.iris {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.16667em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16667em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

/* END OF GENERAL STYLES */

/* HEADER SECTION */

.header-logo {
  font-family: Raleway;
  font-weight: 800;
  line-height: 1.16667em;
  font-size: 18px;
  letter-spacing: 0.54px;
}

header .studio {
  color: var(--navyblue);
}

.nav-link {
  font-weight: 500;
  line-height: 1.5em;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: var(--navyblue);
}

.address-link {
  line-height: 1.5em;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: var(--slate);
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* HERO SECTION */
/* Header 1 */
.hero {
  background: var(--navyblue);
}
.hero-title {
  line-height: 1.07143em;
  color: var(--white);
  text-align: center;
  font-size: 56px;
  letter-spacing: 1.12px;
}

.hero-button {
  background: var(--iris);
  color: var(--white);
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  border-radius: 4px;
  font-family: inherit;
  outline: none;
  border: unset;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px;
}

/* FEATURES SECTION */
.features-item-title,
.portfolio-item-title,
.team-item-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
}

.features-item-description,
.portfolio-item-description {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

.services-title,
.team-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11111em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* TEAM SECTION */
.team-item-title {
  text-align: center;
}

.team-work-description {
  text-align: center;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

/* PORTFOLIO SECTION*/

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white);
  background: var(--ocean);
}

.portfolio-button {
  color: var(--iris);
  border-radius: 4px;
  line-height: 1.5em;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
  font-family: inherit;
  outline: none;
  border: unset;
  padding: 12px 24px;
}

/* FOOTER SECTION */

.footer {
  background: var(--navyblue);
}
.footer-logo {
  font-family: Raleway;
  font-weight: 800;
  line-height: 1.16667em;
  font-size: 18px;
  letter-spacing: 0.54px;
}

.footer,
footer .studio {
  color: var(--cloud);
}

.footer-description {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}
